
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>Live Conversation</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Receive</h2>
            <video controls id="receiver-video" width="100%" height="400px"></video>
            <p>
                <button id="start" class="btn btn-primary">Start conversation</button>
            </p>
            <textarea id="offer" class="form-control"></textarea>
        </div>
        <div class="col-sm-6">
            <h2>Send</h2>
            <video id="emitter-video" width="100%" height="400px"></video>
            <p>
                <button id="receive" class="btn btn-default">Receive conversation</button>
            </p>
            <form id="incoming">
                <div class="form-group">
                    <textarea id="offer" class="form-control"></textarea>
                </div>
                <p>
                    <button class="btn btn-success" type="submit">Enregistrer l'offre</button>
                </p>
            </form>
        </div>

    </div>
</div>
<center><input id="myButton" class="btn btn-success" type="submit" value='Next Step' onclick="calc()" /></center>

<script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/simplePeer.js"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/WebRTCapp.js"></script>

<script type="text/javascript">
    function calc() {
 window.location.href = '/Account/Login';
    }
     


</script>
